.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
    text-decoration: none;
}
.dialogsItems .active {
    color: darkmagenta;
    font-weight: bold;
}
.messages {
    padding: 10px;
    text-decoration: none;
}
.message {
    padding: 10px;
    text-decoration: none;
    color: #e057e0;
}

